# -*- coding: utf-8 -*-
<!DOCTYPE html>
<html>
<body>
<h1><font color="green"><b>Grilled Chicken Breasts</b></font></h1>
<p><em><u><b>Ingredients:</b></u></em></p>
<ul>
    <li>1 pound (2) boneless, skinless chicken breasts,
	cut in half lengthwise</li>
    <li>1/4 cup low sodium or gluten-free soy sauce</li>
    <li>1/4 cup unsweetened apple sauce</li>
    <li>1/4 cup finely chopped yellow onion</li>
    <li>1 tsp sesame oil</li>
    <li>1 tsp grated ginger</li>
    <li>1 tbsp light brown sugar</li>
    <li>2 garlic cloves, crushed</li>
    <li>1 teaspoon red pepper flakes (optional)</li>
    <li>1 teaspoon sesame seeds, plus more for topping</li>
    <li>2 thinly sliced scallions, white and green parts</li>
</ul>
<p><em><u><b>Directions:</b></u></em></p>
<ul>
    <li>Place the chicken breasts, 1 at a time, in a Ziploc bag.</li>
    <li>Pound the chicken breast to an even thickness, about ½ inch thick,
        being careful not to puncture the bag</li>
    <li>In a medium bowl, combine the soy sauce, apple sauce, onion, sesame oil, ginger, brown sugar, garlic, red pepper flakes,
	if using and sesame seeds.</li>
    <li>Reserve ¼ cup of the marinade and transfer the remainder to the Ziploc bag with the chicken.</li>
    <li>Refrigerate and marinate for at least 1 hour.</li>
    <li>Over medium-high heat, grill the chicken for 2 to 3 minutes or until it no longer sticks to the grill.
    <li>Turn the chicken, spoon the reserved ¼ cup of marinade over each breast and grill an addition 2 to 3 minutes.  
</ul>
