<!DOCTYPE html>

<html>

<body>

<h1><font color="green"><b>Ranch Dressing</b></font></h1>

<p><em><u><b>Ingredients:</b></u></em></p>
<ul>
    <li>1/2 cup lowfat buttermilk</li>
    <li>1/4 cup light mayonnaise</li>
    <li>1/4 cup fat free Greek yogurt</li>
    <li>1 small jalapeno, seeds removed, leave them in if you want it spicy</li>
    <li>1/4 cup of fresh cilantro</li>
    <li>1 tomatillo, husks removed, chopped</li>
    <li>1 clove garlic</li>
    <li>1 scallion</li>
    <li>juice of 1/2 lime</li>
    <li>1/2 tsp dried parsley flakes</li>
    <li>1/8 tsp cumin</li>
    <li>1/4 tsp fresh ground pepper</li>
    <li>1/4 tsp salt</li></ul>


<p><em><u><b>Directions:</b></u></em></p>
Combine all ingredients in a blender. Makes 1-3/4 cup.
