{% extends "base.html" %}
{% block content %}
<title>Blog</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="static/bootstrap.min.css" rel="stylesheet" type="text/css">
   <style type="text/css">
    body {
        font-family: arial, helvetica, sans-serif;
        font-size: 14px;
        color: black;
        background-color: #CC9933;
        margin: 20px;
        padding: 0;
    }
    p {
        line-height: 21px;
    }
    h1 {
        color: #ffc;
        background-color: #900;
        font-size: 2em;
        margin: 0;
        margin-bottom: 7px;
        padding: 4px;
        font-style: italic;
        text-align: center;
        letter-spacing: 0.5em;
        border-bottom-style: solid;
        border-bottom-width: 0.5em;
        border-bottom-color: #c00;
    }
   </style>
  </head>

<h1>A Cooking Blog</h1>
<br>
<p><DIV ALIGN=CENTER>Click <a href="/logout"><b>here</b></a> to logout.</p></DIV>
<br>
<h3>Posts:</h3>
{% for post in posts %}
    <strong>Title:</strong> {{ post.title }} <br>
    <strong>Post:</strong> {{ post.description }} <br>
<br>      

{% endfor %}

{% endblock %}
